
body{
    margin:0;
    user-select:none;
}

/* 
Colors palette

background: #121213
keyboard: #818384
letter boxes: #3A3A3C
gray letters: #3A3A3C
yellow letters: #B59F3B
green letters: #538D4E
*/

.main{
    background-color:#121213;

    height: 100vh;
    width: 100vw;

    justify-content:center;

    overflow:hidden; /* So that margin-top:50px; in .wordGrid doesn't push mainDiv down */
}

.main >*{ 
    /* centering of everything inside .main */
    margin-left:auto;
    margin-right:auto;
}

.wordGrid{
    background-color:#121213;
    height: 550px;
    width: 350px;

    display:grid;
    grid-template-rows: repeat(10, 75px);

    margin-top:25px;
    margin-bottom: 50px;
}

.wordGrid >*{
    height: 50px;

    margin-left:auto;
    margin-right:auto;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:5px;
}

.wordGrid >* >* {
    border: #3A3A3C solid 2px;
    height: 50px;
    width: 50px;
    font-size:35px;
    font-family: "Inter", Arial, sans-serif;
    color:white;
    line-height:50px;
    text-align:center;
    font-weight: bold; 
}

.keyboard{
    background-color:#121213;
    
    height: 190px;
    width: 50%;
    max-width:516px;
}

.keyboard >* {
    display:flex;
    justify-content:space-around;
    margin-top:5px;
}

.keyboard >* >* {
    height:50px;
    background-color:#818384;

    color:white;

    font-size:20px;
    font-weight:bold;

    width:9%;
    max-width:50px;
    min-width: 25px;
    border-radius: 5px;
}

.half{
    width:2%;
    min-width:1%;
    background-color:#121213;
}

#enterButton{
    font-size:15px;
    width: 16%;
    max-width:16%;
}

#deleteButton{
    width: 16%;
    max-width:16%;
}

.deleteIMG{
    width: 32%;
    pointer-events:none; /* Makes the delete button react even if you click the image inside the deleteButton*/
}